body{
    background-color: #fafafa;
    font-family: "Open Sans", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑" , sans-serif;
}
.navbar-static-top{
    margin-bottom: 0;
    background-color: #fff;
}
.nav.navbar-top-links a{
    padding: 12px 15px;
    min-height: auto;
    font-weight: 400;
    font-size: 13px;
    color: #666;
}
.navbar-top-links li.credit-amount{
    vertical-align: middle;
    border-right: 1px solid #eee;
}
.navbar-top-links li:last-child{
    margin-right: 20px;
}
.credit-tab .credit-label{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}

#side-menu li.nav-header{
    background: url(patterns/side-header.png) #fff;
    padding: 11px 10px;
    border-bottom: 1px solid #eee;
}
.nav-header a {
    color: #2c2c2c;
}
#side-menu li.nav-header .logo{
    height: 100px;
}
.logo-element{
    padding: 3px;
}
.logo-element .logo-small{
    height: 40px;
}
#side-menu li a{
    color: #888;
}
#side-menu li.active > a{
    color: #00aaf5;
    /*background-color: #00aaf5;*/
}
#side-menu li a img{
    margin-right: 5px;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus{
    background-color: #fff;
    color: #2c2c2c;
}
#side-menu li.active{
    border-left: 0;
    background: #fff;
    box-shadow: 0 0 5px #eee;
}
.nav-second-level li a{
    padding: 8px 20px 8px 58px;
}
.nav-third-level li a{
    padding: 8px 20px 8px 80px;
}
#side-menu li .nav-second-level li a:hover,
#side-menu li .nav-second-level li a:focus{
    color: #2c2c2c;
    background-color: transparent;
}

.mini-navbar .nav-second-level{
    background-color: #fff;
    min-width: 180px!important;
    -webkit-box-shadow: 2px 0 5px #ccc;
    box-shadow: 2px 0 5px #ccc;
}

@media (max-width: 770px) {
    .nav.navbar-top-links li.dropdown {
        display: inline-block;
    }

    .navbar-top-links li a {
        padding: 20px 5px;
        min-height: 50px;
    }

    .mhidden {
        display: none;
    }

    .navbar-right {
        float: right !important;
        margin-right: 0px;
    }

    .navbar-top-links .dropdown-messages {
        margin-left: -65px;
        width: auto;
    }

    .dropdown-messages li a, .dropdown-alerts li a {
        font-size: 12px !important;
        margin: 0;
        padding: 0 !important;

    }

    #side-menu li .nav-second-level li a{
        font-size: 13px;
        padding: 5px 10px;
    }

    .textsize {
        font-size: 16px !important;
    }
}
@media (min-width: 770px) {
    #page-wrapper{
        border-left: 1px solid #eee;
    }
    .dhidden {
        display: none!important;
    }
    .nav.navbar-top-links a i{
        font-size: 15px;
        width: 30px;
        color: #fff;
        background: #00aaf5;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
    }
}

.textsize {
    font-size: 19px;
    padding: 10px;
    font-weight: 500;
}

.nolinkcolor {
    text-decoration: none !important;
    color: inherit !important;
}

.ibox-title-filter {
    background-color: #e7eaec !important;
    border-color: #1ab394 !important;
}

.ibox-content-filter {
    background-color: #f9f9f9 !important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 10000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.img-md {
    width: 102px !important;
    height: 102px !important;
}

.tabs-container {
    margin: 0 15px 20px !important;
}

.btn.minimalize-styl-2{
    background-color: #00aaf5;
    border: 0;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px 0;
    margin-top: 16px;
}

@media only screen and (max-width: 768px){
    body.mini-navbar #page-wrapper{
        margin: 0;
        -webkit-transform: translateX(70px);
        transform: translateX(70px);
    }
    .nav.navbar-top-links a{
        font-size: 20px;
        padding: 12px 10px;
    }
}

@media only screen and (max-width: 480px){
    .btn.minimalize-styl-2{
        margin: 14px 5px 5px 10px;
    }
    .credit-amount a{
        padding-left: 0;
    }
    .credit-tab img{
        width: 25px;
    }
    .textsize{
        padding-right: 0;
    }
}

.active2 {
    background-color: green !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.text-middle {
    vertical-align: middle !important;
}

.no-spacing {
    margin:0px !important;
    padding:0px !important;
}

.text-noresize {
    resize: none !important;
    overflow: hidden !important;
}

#myModal  > .modal-dialog
{
   width: 725px !important;
}

.table-bordered-custom > thead > tr > th, .table-bordered-custom > tbody > tr > th, .table-bordered-custom > tfoot > tr > th, .table-bordered-custom > thead > tr > td, .table-bordered-custom > tbody > tr > td, .table-bordered-custom > tfoot > tr > td {
    border: 1px solid #737373;
    padding: 3px 8px 3px !important;
}